<div class="container-fluid text-light bg-darker">
  <div class="d-flex align-items-center justify-content-center contact flex-wrap">
    <form class="row col-12" [formGroup]="messageForm" #messageFormDirective="ngForm">
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label for="text" class="form-label">Please leave message here</label>
        <textarea class="form-control" id="text" rows="3" formControlName="text" placeholder="Message"></textarea>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Your Name" formControlName="name">
      </div>
      <div class="mb-4 col-sm-8 offset-sm-2">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
      </div>
      <button type="button" [disabled]="!messageForm.valid"
        class="btn btn-primary mb-3 col-10 offset-1 col-sm-6 offset-sm-3" (click)="sendMessageHandler()">Send</button>
    </form>
    <div class="row col-12">
      <p class="mb-3 col-sm-8 offset-sm-2">
        Or send email <a class="text-light" aria-current="page" href="mailto:info@devweb.club">info@devweb.club</a>
      </p>
    </div>
  </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div id="liveToast" #toast class="toast" [ngClass]="{'bg-danger': isAlertDanger}" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">{{alertHeader}}</strong>
      <small></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-dark">
      {{alertText}}
    </div>
  </div>
</div>
