// @import "~bootstrap/scss/bootstrap";
@use "sass:map";
@import "./styles/bootstrap";
@import "./styles/fonts-icons";

.welcome-block {
  height: calc(100vh - #{$nav-height});
  &__feed {
    margin: 2rem auto;
  }
}

.project-block {
  // min-height: calc(100vh - #{$nav-height});
  background-color: $white;
  border: 1px solid $white;
  border-radius: 0.5rem;
}

.leading-text {
  font-weight: 700;
  // font-size: 3.25rem!important;
  // line-height: 3.5rem !important;
  // margin-bottom: 1rem;
  // margin-top: 1rem;
  &_regular {
    color: $dark;
  }
  &_success {
    color: $success;
  }
  &_primary {
    color: $primary;
  }
  &_highlited {
    font-weight: 800;
  }
  &_info {
    color: $info;
  }
}

.logo {
  height: 60px;
  width: auto;
  margin: 0.5rem 1rem;
  // border: 1px solid $gray-400;
  // border-radius: 15%;
}

.logo-block {
  // display: flex;
  // flex-wrap: wrap;
  // width: 100%;
  // justify-content: space-around;
  // align-items: center;
  &_logo {
    height: 30px;
    width: auto;
    margin: 2rem 0.5rem;
  }
}

$mobH: 300px;
$mobW: 145px;
$mobRatio: ($mobH/$mobW);
$tabH: 300px;
$tabW: 226px;
$tabRatio: ($tabH/$tabW);
$monH: 300px;
$monW: 484px;
$monRatio: ($monH/$monW);

$img-container-heigth: (
  "xs": 180px,
  "sm": 230px,
  "md": 300px,
  "lg": 300px,
  "xl": 300px,
);
$img-container-width: (
  "xs": 100%,
  "sm": 100%,
  "md": 90%,
  "lg": 80%,
  "xl": 80%,
);

@function mobParams($brakepoint) {
  $height: (
    "xs": 125px,
    "sm": 140px,
    "md": 175px,
    "lg": 175px,
    "xl": 175px,
  );

  $offset: (
    "xs": -50px,
    "sm": -50px,
    "md": -50px,
    "lg": -50px,
    "xl": -50px,
  );
  $width: ((map.get($height, $brakepoint) / $mobRatio));
  @return ("width": $width, "height": map.get($height, $brakepoint), "offset": map.get($offset, $brakepoint));
}

@function tabParams($brakepoint) {
  $height: (
    "xs": 175px,
    "sm": 180px,
    "md": 225px,
    "lg": 225px,
    "xl": 225px,
  );
  $offset: (
    "xs": 80px,
    "sm": 70px,
    "md": 70px,
    "lg": 70px,
    "xl": 70px,
  );
  $width: ((map.get($height, $brakepoint) / $tabRatio));
  @return ("width": $width, "height": map.get($height, $brakepoint), "offset": map.get($offset, $brakepoint));
}

@function monParams($brakepoint) {
  $height: $img-container-heigth;
  // $height: (
  //   "xs": 200px,
  //   "sm": 230px,
  //   "md": 300px,
  //   "lg": 300px,
  //   "xl": 300px,
  // );
  $offset: (
    "xs": 25px,
    "sm": 25px,
    "md": 30px,
    "lg": 0px,
    "xl": 0px,
  );

  $width: ((map.get($height, $brakepoint) / $monRatio));
  @return ("width": $width, "height": map.get($height, $brakepoint), "offset": map.get($offset, $brakepoint));
}

.img-container {
  position: relative;
  @each $breakpoint in $breakpoints {
    @include media-breakpoint-up(#{$breakpoint}) {
      height: map.get($img-container-heigth, (#{$breakpoint}));
      width: map.get($img-container-width, (#{$breakpoint}));
    }
  }

  &__mob {
    position: absolute;
    bottom: 0;
    width: auto;
    @each $breakpoint in $breakpoints {
      @include media-breakpoint-up(#{$breakpoint}) {
        height: map.get(mobParams(#{$breakpoint}), "height");
        left: calc(
          calc(
              calc(50% - (#{map.get(monParams(#{$breakpoint}), "width")} / 2)) + #{map.get(
                  monParams(#{$breakpoint}),
                  "offset"
                )}
            ) + #{map.get(monParams(#{$breakpoint}), "width")} + #{map.get(mobParams(#{$breakpoint}), "offset")}
        );
      }
    }
  }

  &__tab {
    position: absolute;
    bottom: 0;
    width: auto;
    @each $breakpoint in $breakpoints {
      @include media-breakpoint-up(#{$breakpoint}) {
        height: map.get(tabParams(#{$breakpoint}), "height");

        left: calc(
          calc(
              calc(50% - (#{map.get(monParams(#{$breakpoint}), "width")} / 2)) + #{map.get(
                  monParams(#{$breakpoint}),
                  "offset"
                )}
            ) - #{map.get(tabParams(#{$breakpoint}), "width")} + #{map.get(tabParams(#{$breakpoint}), "offset")}
        );
      }
    }
  }

  &__mon {
    position: absolute;
    width: auto;
    bottom: 0;
    @each $breakpoint in $breakpoints {
      @include media-breakpoint-up(#{$breakpoint}) {
        height: map.get(monParams(#{$breakpoint}), "height");
        left: calc(
          calc(50% - (#{map.get(monParams(#{$breakpoint}), "width")} / 2)) + #{map.get(
              monParams(#{$breakpoint}),
              "offset"
            )}
        );
      }
    }
  }
}

.navbar_scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.navbar_scrolled-up {
  transform: translateY(0);
  transition: all 1s ease-in-out;
}
