<div appScrolling #top [id]="-1" class="container">
  <section  class="row main">

    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <div class="main__feed col-10 offset-1">
        <h1 class="leading-text leading-text_regular">Looking for a full stack<br>
          <span class="leading-text leading-text_success leading-text_highlited"> web developer?</span><br>
          <span class="leading-text leading-text_regular">or need a</span>
          <span class="leading-text leading-text_success leading-text_highlited"> website?</span>
        </h1>
        <a class="btn btn-success btn-lg mx-auto text-nowrap text-white fw-bold" aria-current="page"
          [routerLink]="['contact']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">CONTACT
          <i class="bi bi-chevron-right ms-2"></i></a>
      </div>
    </div>
    <div class="main__img col-12 col-md-6">
      <img src="./assets/images/tag.png" width="250px" height="150px" alt="preview">
    </div>
    <div class="logos col-12 col-sm-10 offset-sm-1">
      <a *ngFor="let technology of mainTechnologies" [href]="(technology | tech).url">
        <img class="logos__img logos__img_main" appSelector [alt]="(technology | tech).name" data-bs-toggle="tooltip"
          data-bs-html="true" data-bs-placement="top" [src]="(technology | tech).logo" title="
          <h3>{{(technology | tech).name}}</h3>
           <p>{{(technology | tech).description}}</p>
           ">
      </a>
    </div>
  </section>
</div>

<div class="container-fluid">
  <!-- <h2 class="main__projects-header leading-text leading-text_info leading-text_highlited">
    <a (click)="moveTo(true)"><span>Recent projects</span><i class="fas fa-angle-down ms-2"></i></a>
  </h2> -->

  <section *ngFor="let project of projects; let idx = index" class="project mb-3">
    <app-project [id]="idx" [project]="project" appScrolling></app-project>
  </section>
</div>

<nav class="navbar navbar-dark bg-dark text-light">
  <div class="container-fluid">

    <a class="navbar-brand mx-3" [routerLink]="['/']">DevWeb</a>
    <a class="nav-link mx-3 text-light" aria-current="page" href="mailto:info@devweb.club">info@devweb.club</a>
  </div>
</nav>

<div class="move-btn">
  <button class="btn btn-success btn-sm move-btn__item text-white fw-bold mb-1" (click)="moveTo(false)"
    [disabled]="currentMoveIndex < 0" [ngClass]="{'btn-dark': currentMoveIndex < 0}">
    <i class="bi bi-chevron-up"></i>
  </button>
  <button class="btn btn-success succes btn-sm move-btn__item text-white fw-bold" (click)="moveTo(true)"
    [disabled]="currentMoveIndex >= projects.length - 1"
    [ngClass]="{'btn-dark': currentMoveIndex >= projects.length - 1}">
    <i class="bi bi-chevron-down"></i>
  </button>
</div>
