<div appScrolling class="container">
  <div class="row welcome-block">
    <div class="col d-flex justify-content-center align-items-center">
      <div class="welcome-block__feed col-10 offset-1">
        <h1 class="leading-text leading-text_regular">Looking for a full stack<br>
          <span class="leading-text leading-text_success leading-text_highlited"> web developer?</span><br>
          <span class="leading-text leading-text_regular">or need a</span>
          <span class="leading-text leading-text_success leading-text_highlited"> website?</span>
        </h1>
        <button type="button" class="btn btn-success btn-lg mx-auto text-nowrap text-white fw-bold">
          CONTACT
          <i class="bi bi-chevron-right ms-2"></i>
        </button>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <img src="https://via.placeholder.com/400x300" alt="preview">
    </div>
  </div>
</div>


<div class="container-fluid">

  <div *ngFor="let project of projects" class="row project-block my-3">
    <app-project [project]="project"></app-project>


  </div>
</div>

<nav class="navbar navbar-dark bg-dark text-light">
  <div class="container-fluid">
    <a class="navbar-brand mx-3" [routerLink]="['/']">DevWeb</a>
    <a class="nav-link mx-3 text-light" aria-current="page" href="mailto:info@devweb.club">info@devweb.club</a>
  </div>


</nav>
