<h3 #recentProject class="project__header project-header leading-text leading-text_regular leading-text_highlited">
  <span>{{project.name}}</span>
</h3>

<div class="project__img devices-img">
  <div class="devices-img__container">
    <a [href]="project.url"><img class="devices-img__mon" [src]="project.img.mon" alt="preview"></a>
    <a [href]="project.url"><img class="devices-img__tab" [src]="project.img.tab" alt="preview"></a>
    <a [href]="project.url"><img class="devices-img__mob" [src]="project.img.mob" alt="preview"></a>
  </div>
</div>

<p class="project__description project-description col-12 col-sm-10 offset-sm-1">
  <span>{{project.description}}</span>
</p>

<div class="project__logos logos col-12 col-sm-10 offset-sm-1">
  <a *ngFor="let technology of project.technologies" [href]="(technology | tech).url">
    <img class="logos__img logos__img_project " appSelector alt="preview" data-bs-toggle="tooltip" data-bs-html="true"
      data-bs-placement="top" [src]="(technology | tech).logo"
      title="<h3>{{(technology | tech).name}}</h3> <p>{{(technology | tech).description}}</p>">
  </a>
</div>
